body {
  background-color: tan; 
}
ul {
  color: blue;
}
#pipe{
  color: green;
}
#Khist{
  color: black;
  background-color: whitesmoke;
}
#game{
  border: solid black;
  color: gold;
  background-color: black
}
h1 {
  font-style: fantasy;
  text-align: center;
  font-size: 200%;
  background-color: green 
}
#quizLink{
  color: red;
}
.ynquizlink{
  color: blueviolet;
}
footer {
  font-style: italic;
}